{% load static %}
<!DOCTYPE html>

<html lang="en">
    
<head>
    <title>Mis peliculas</title>
    <link href="{% static '/movies/assets/css/output.css' %}" rel="stylesheet">
</head>"

<body class= "font-sans antialiased text-gray-900 leading-normal tracking-wider bg-cover"style="background-image:url('https://i.pinimg.com/564x/74/3a/9b/743a9b5390c5957a6b3dc3a0879d4c40.jpg');">

    <section class="w-[90%] max-w-md mx-auto
    bg-white shadow- 2xl place-content-center">
    
    <article class="bg-black rounded-b-2xl text-green-600 p-5 ">
    <h1 class="text-4xl font-times-new-romantext-center"> TEAM MOVIES YURIDIA <h1><br> 
    </article>
    </section>


    <br>

    <section class="w-[80%] max-w-md mx-auto">
        <article class="bg-amber-500 rounded-b-2xl rounded-t-2xl text-black p-5 text-center">

            {% if movie_list %}
            <ul class="text-lg" >
                {% for movie in movie_list %}
                    <li><a href="/movies/{{ movie.id }}/">{{ movie.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
             
        </article>
    </section>


    <div class="text-center place-content-center">
    
    <section class="w-[80%] max-w-md mx-auto">
    <article class="bg-amber-500 rounded-b-2xl rounded-t-2xl text-white p-5">
    <br><p class="text-2xl font-bold">PELICULAS NO DISPONIBLES</p> 
    {% endif %} 
    </article>
    </section>

    </div>

</body>
</html>







  
