{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{movie.title}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static '/movies/assets/css/output.css' %}"rel="stylesheet">
    </head>


    <body class= "tracking-wider bg-contain"style="background-image:url('https://cdn.pixabay.com/photo/2015/06/22/22/41/texture-818125_960_720.png');"></body>
  

        <header>
            <section class="w-[70%] max-w-md mx-auto place-content-center bg-amber-500 rounded-b-2xl rounded-t-2xl">
            <h1 class="font-medium text-2xl font-bold font-verdana text-center text-white">Las Chicas Super Poderosas</h1>
            </section>
        </header>

        <section class="w-[90%] max-w-md mx-auto place-content-center">
        <br>
        <div class="bg-black rounded-b-xl rounded-t-xl text-white p-5 text-2xl">
        <h1 class="text-center"> {{ movie.title }} </h1> 
        <h1 class="text-center"> ({{ movie.release_date|date:"Y" }})</h1>   
        </div>
        <br>
        </section>
        
        <h1 class="text-center"> Duracion: {{movie.running_time}} min</h1>
        <h1 class="text-center">Genero(s):
                {% for genre in movie.genres.all %}
                <p class="px-1"> {{genre.name}}</p>
                {% endfor %}  </h1>
        
        <h1 class="text-center"> Presupuesto: $ {{ movie.budget }} Unidades Monetarias</h1>
        <h1 class="text-center"> Recaudacion: $ {{ movie.revenue }} Unidades Monetarias</h1>

            <img src="{% static 'movies/assets/img'|add:movie.poster_path %}" alt="">

        <br> 
        
        <h1 class="text-center"> {{SINOPSIS}} </h1>

        <section class="w-[60%]  mx-auto place-content-center">
        <div class="bg-black rounded-b-xl rounded-t-xl text-white p-5">
            <p class="text-2xl text-justify">{{ movie.overview }} </p>
        </div>
        </section>

          <br>
          <br>

        <h1 class="text-center"> REPARTO </h1>
        <h1 class="text-center">
        {% for credit in credits %}
            <p class="font-bold"> Actor: {{ credit.person.name }}</p>
            <p>Trabajo: {{ credit.job.name }}</p>
        {% endfor %} </h1>

        <section class="w-[70%]  mx-auto place-content-center">
        <footer class="text-5xl font-bold text-center">
            <div class="bg-black rounded-b-xl rounded-t-xl text-3xl font-sm text-center text-white">
            <p> Link Repositorio</p>
            <p><a href="https://github.com/YuridiaSCH/TeamMovies"> TeamMovies</a></p>
            </div>
        </footer>
        </section>

    </body>
</html>
